<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>sfclient</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <context-param> 
   <description>Location to store uploaded file</description> 
   <param-name>file-upload</param-name> 
   <param-value>
      D:\Pentaho\Kettle\RollOver\Upload\
   </param-value> 
</context-param>
  
  
  <servlet>
	<servlet-name>SF Get Token</servlet-name>
	<servlet-class>com.olympus.fis.sfclient.GetSfToken</servlet-class>
  </servlet>
	<servlet-mapping>
		<servlet-name>SF Get Token</servlet-name>
		<url-pattern>/gettoken</url-pattern>
	</servlet-mapping>
	
	  <servlet>
	<servlet-name>Get Token</servlet-name>
	<servlet-class>com.olympus.fis.sfclient.SfClient</servlet-class>
  </servlet>
	<servlet-mapping>
		<servlet-name>Get Token</servlet-name>
		<url-pattern>/runuri</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Get Data</servlet-name>
	<servlet-class>com.olympus.fis.sfclient.SfGetObjData</servlet-class>
  </servlet>
	<servlet-mapping>
		<servlet-name>Get Data</servlet-name>
		<url-pattern>/getdata</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RollOverUpdate</servlet-name>
	<servlet-class>com.olympus.fis.sfclient.RollOverUpdate</servlet-class>
  </servlet>
	<servlet-mapping>
		<servlet-name>RollOverUpdate</servlet-name>
		<url-pattern>/rollover</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ReadData</servlet-name>
	<servlet-class>com.olympus.fis.sfclient.ReadData</servlet-class>
  </servlet>
	<servlet-mapping>
		<servlet-name>ReadData</servlet-name>
		<url-pattern>/readdata</url-pattern>
	</servlet-mapping>
	
</web-app>